@font-face {
  font-family: "iconfont"; /* Project id 3256590 */
  src: url('iconfont.woff2?t=1647592275782') format('woff2'),
       url('iconfont.woff?t=1647592275782') format('woff'),
       url('iconfont.ttf?t=1647592275782') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuru:before {
  content: "\e8bf";
}

.icon-shuchu:before {
  content: "\e8be";
}

.icon-jinggao:before {
  content: "\e8bc";
}

.icon-bangzhu:before {
  content: "\e8bd";
}

.icon-hengxianglianjie:before {
  content: "\e8bb";
}

.icon-zhuijiahebing:before {
  content: "\e8ba";
}

.icon-fenzuhuizong:before {
  content: "\e8b9";
}

.icon-shujushaixuan:before {
  content: "\e8b8";
}

.icon-ziduanshezhi:before {
  content: "\e8b7";
}

.icon-chehui:before {
  content: "\e8b6";
}

.icon-zhongzuo:before {
  content: "\e8b5";
}

.icon-shuipingdengju:before {
  content: "\e8b4";
}

.icon-chuizhidengju:before {
  content: "\e8b3";
}

.icon-bilisuoxiao:before {
  content: "\e8b2";
}

.icon-bilifangda:before {
  content: "\e8b1";
}

.icon-dingweidaozhongxin:before {
  content: "\e8b0";
}

.icon-shanchu:before {
  content: "\e8af";
}

.icon-zidian:before {
  content: "\e8a5";
}

.icon-huaban:before {
  content: "\e8a6";
}

.icon-wenjianjia:before {
  content: "\e8a7";
}

.icon-lishijilu:before {
  content: "\e8a8";
}

.icon-huikuanzhuanzhang:before {
  content: "\e8a9";
}

.icon-sucaiku:before {
  content: "\e8aa";
}

.icon-daimapianduan:before {
  content: "\e8ab";
}

.icon-ma:before {
  content: "\e8ac";
}

.icon-qianbao:before {
  content: "\e8ad";
}

.icon-dabao:before {
  content: "\e8ae";
}

.icon-PCduan:before {
  content: "\e89a";
}

.icon-tag:before {
  content: "\e89b";
}

.icon-hulianwang:before {
  content: "\e89c";
}

.icon-biaodan:before {
  content: "\e89d";
}

.icon-anquan:before {
  content: "\e89e";
}

.icon-dingwei:before {
  content: "\e89f";
}

.icon-wangye:before {
  content: "\e8a0";
}

.icon-rongqi:before {
  content: "\e8a1";
}

.icon-jiance:before {
  content: "\e8a2";
}

.icon-xiangmu:before {
  content: "\e8a3";
}

.icon-lianjie:before {
  content: "\e8a4";
}

